footer {
    font-family: 'Roboto Mono', sans-serif;
    clear: both;
    position: relative;
    height: 400px;
    background: url(../assets/imgs/footer/11212-car-blue-headlight-optics-4k.jpg) center/cover;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.footer-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.footer-container .footer-title {
    height: 120px;
    border-bottom: 1px solid #fff;
    padding: 50px 0 20px 0;
    margin-bottom: 20px;
}

.footer-container a {
    color: white;
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px;
}

.footer-container h6 {
    font-weight: bold;
}

.about-content {
    margin: 30px 0px 30px 89px;
    float: left;
}

.about-content i {
    font-size: 40px;
}

.about-content p {
    margin-top: 8px;
}

