* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family:  'Roboto Mono', sans-serif;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h4 {
    letter-spacing: 2px;
}

.form-message {
    color: red;
  }

